body{
  background-image:url(background.jpg);
  background-size: 1920px;
  font-family:sans-serif;
  color: white;
  margin: 140px;
}

/* Qui stavo impazzendo non ne venivo fuori, opacità */
.contenitore{
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  border-radius: 15px;
  width: 1000px;
  border-top: 1000px;
  padding: 100px;
}

#logo{
  display: block;
  margin: 0 auto;
  width: 250px;
}

#logotext{
  text-align: center;
  font-size: 40px;
  color: rgba(22,218,0,255);
}

nav{
  background-color: rgba(22,218,0,255);
  padding: 15px;
}

.menù{
  text-align: center;
}

.quadrato{
  background-color: white;
  display: inline-block;
  border-radius: 2px;
  padding: 5px;
  margin-top: 0px;
}

.batteria{
  margin-bottom: 0px;
}

#barra1{
background-color: orange;
width: 30%;
height: 16px;
border-radius: 5px;
padding: 5px;
margin-top: 0px;
}

#barra2{
background-color: rgba(22,218,0,255);
width: 45%;
border-radius: 5px;
padding: 5px;
height: 16px;
margin-top: 0px;
}

#barra3{
background-color: red;
width: 13%;
border-radius: 5px;
padding: 5px;
height: 16px;
margin-top: 0px;
}
